<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title> Transaction is Done </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">

    <form style="max-width: 600px; margin : 0 auto">
        <div class="m-3">
            <div>
                <h3>Transaction is Done</h3>
            </div>
        </div>
        <div id="login-link" class="text-right">
            <a href="/home/personal-account" class="text-info">My Page</a>
        </div>
    </form>
</div>

</body>
</html>